<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarioController</servlet-name>
        <servlet-class>controller.ComentarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaController</servlet-name>
        <servlet-class>controller.EmpresaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedeSocialController</servlet-name>
        <servlet-class>controller.RedeSocialController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarioController</servlet-name>
        <url-pattern>/ComentarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaController</servlet-name>
        <url-pattern>/EmpresaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedeSocialController</servlet-name>
        <url-pattern>/RedeSocialController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
